*.class
.DS_Store
*/.DS_Store

# Package Files #
*.jar
*.war
*.ear
#Eclipse Files#
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#Idea Files#
*.iml
*.ipr
*.iws
.idea/


#Maven Files#
*/target/
target/
pom.xml.*
*/pom.xml.*
release.properties
/bin/
/obj/
/release/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
